body {
}

footer {
}

.my-name {
  color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1em;
  bottom: 0;
}
.about-me {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 1em;

  border: 1px solid black;
}

.introduction {
  border: 1px solid red;
  height: 80%;
  width: 80%;
}
.icons {
  padding: 1em;
}
.profile-image {
  width: 50%;
  height: auto;
  position: relative;
}
.introduction {
  padding: 1em;
}
.my-work {
  text-align: center;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.card-grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

.card {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  padding: 1em;
  margin: 1em;
}
.card img {
  align-self: center;
  border: 1px solid red;
  max-width: 150px;
  height: auto;
}

@media only screen and (min-width: 600px) {
  .about-me {
    flex-direction: row;
  }

  .card-grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .links {
    justify-content: center;
  }

  .introduction {
  }
}

@media only screen and (min-width: 900px) {
  .about-me {
    flex-direction: row;
  }

  .card-grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
