header {
  padding: 1em;
}
body {
  --header-background-colour: #63d2ff;
}

footer {
  background-color: var(--header-background-colour);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.footer-image-container {
  width: 85%;
}
.footer-image-container img {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.background {
  content: "";
  position: absolute;
  background: var(--header-background-colour);
  top: 0;
  left: 0;
  transform-origin: top left;
  z-index: -1;

  width: 100%;
  height: 60%;
  transform: skewY(-20deg);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.my-name {
  color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: clamp(1rem, -1.5rem + 8vw, 3rem);
  bottom: 5%;
  text-shadow: 1px 0px 2px rgba(0, 0, 0, 0.6);
}
.about-me {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 1em;
}

.introduction {
  height: 80%;
  width: 80%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 1em;
  background-color: #fdfffc;
}
.icons {
  padding: 1em;
}
.profile-image {
  width: 60%;
  height: auto;
  position: relative;
}
.profile-image img {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 2px;
}

.my-work {
  text-align: center;
  margin-bottom: 1em;
  margin-top: 1em;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.card-grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  padding: 1em;
  margin: 1em;
}
.card img {
  align-self: center;
  border: 1px solid red;
  max-width: 150px;
  height: auto;
}

.contact-info {
  padding: 1em;
}
h4 {
  padding: 10px;
  text-align: center;
}
address {
  margin-top: 1em;
  margin-bottom: 1em;
}
address span {
  display: block;
}
.phone {
  align-items: center;
  display: flex;
  margin-top: 1em;
  margin-bottom: 1em;
}
.phone svg {
  height: 2em;
  width: 2em;
}

.email {
  display: flex;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.email svg {
  height: 2em;
  width: 2em;
}
@media only screen and (min-width: 600px) {
  .about-me {
    flex-direction: row;
  }

  .profile-image {
    width: 50%;
  }
  .card-grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .links {
    justify-content: center;
  }

  .background {
    width: 100%;
    height: 40%;
    transform: skewY(-20deg);
  }

  footer {
    flex-direction: row;
  }
  .footer-image-container {
    display: flex;
    justify-content: center;
    width: 60%;
  }
  .footer-image-container img {
    width: 80%;
  }
}

@media only screen and (min-width: 900px) {
  .about-me {
    flex-direction: row;
  }

  .card-grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .background {
    width: 100%;
    height: 45%;
    transform: skewY(-20deg);
  }

  footer {
    flex-direction: row;
    justify-content: center;
  }

  .contact-info {
    width: 40%;
  }
  .footer-image-container {
    display: flex;
    justify-content: center;
    width: 50%;
  }
  .footer-image-container img {
    width: 50%;
  }
}
